@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');
.main_app {
    @import './global';
    @import './blog';
    @import '../../../mydemed/assets/scss/popups';
    height: 100vh;
    .homepage {
        overflow: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}